html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    background-color: rgb(172, 172, 253);
}

body div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    padding: 40px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    gap: 20px;
}

#canvas {
    display: flex;
    height: 32rem;
    width: 32rem;
    flex-wrap: wrap;
    border: 3px black solid;
    background-color: rgb(251, 244, 227);
    border-radius: 6px;
}

#canvas div {
    width: 2rem;
    height: 2rem;
}

button {
    width: 5rem;
    height: 2rem;
}

#randomColor {
    height: 3rem;
}

p {
    font-size: 2.5rem;
}